.InputRange {
    margin: 5px;
}

.InputRange > label {
    width: 150px;
    display: inline-block;
}

.InputRange > input {
    width: 250px;
}

.Container {
    overflow: hidden;
    min-width: 200px;
}

.Box {
    display: inline-block;
    margin: 5px;
}

#GistogrammPreviewer {
    width: 100px;
    height: 256px;
}

#ImagePreviewerSpace {
    border: 2px solid;
    border-color: #2A75B7;
    border-radius: 15px;
    padding: 10px;
}

#GistogrammPreviewerSpace {
    border: 2px solid;
    border-color: #2A75B7;
    border-radius: 15px;
    padding: 5px;
    vertical-align: top;
}

#Options {
    max-width: 500px;
    padding: 10px;
    border: 2px solid;
    border-color: #0D3349;
    border-radius: 15px;
}
